.slider {
	margin	:	0	;
	border	:	0	;
	
	width	:	300px	;
	height	:	70px	;
	
	transform	:	rotate(270deg)	;
}
.verticalSlider-outer {
	position	:	relative	;
	margin	:	0	;
	border	:	0	;
	
	width	:	70px	;
	height	:	300px	;
}
.verticalSlider {
	position	:	absolute	;
	
	left	:	-115px	;
	top	:	115px	;
}

input[type=range].slider {
	-webkit-appearance	:	 none	; /* Hides the slider so that custom slider can be made */
	background	:	 transparent	; /* Otherwise white in Chrome */
}

input[type=range].slider::-webkit-slider-thumb {
	-webkit-appearance	:	 none	;
}

input[type=range]:focus {
	outline	:	 none	; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range].slider::-ms-track {
	width	:	 100%	;
	cursor	:	 pointer	;

	/* Hides the slider so custom styles can be added */
	background	:	 transparent	; 
	border-color	:	 transparent	;
	color	:	 transparent	;
}



input[type=range].slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 100%;
	background: #fff;
}

input[type=range].slider::-moz-range-track {
	width: 100%;
	height: 100%;
	background: #fff;
}
input[type=range].slider::-ms-track {
	width: 100%;
	height: 100%;
}
input[type=range].slider::-ms-fill-lower {
	background: #fff;
}
input[type=range].slider::-ms-fill-upper {
	background: #fff;
}

input[type=range].slider::-webkit-slider-thumb {
	height: 100%;
	width: 20%;
	background: #000;
	margin-top: 0px;
}
input[type=range].slider::-moz-range-thumb {
	height: 100%;
	width: 20%;
	background: #000;
}
input[type=range].slider::-ms-thumb {
	height: 100%;
	width: 20%;
	background: #000;
}

/***
input[type=range].slider:focus::-webkit-slider-runnable-track {
	background: #ccd;
}
input[type=range].slider:focus::-ms-fill-lower {
	background: #ccd;
}
input[type=range].slider:focus::-ms-fill-upper {
	background: #ccd;
}
***/